app-navbar {
    height: 6vh; /* El navbar ocupará el 10% de la pantalla */
  }
  
  .flex-grow-1 {
    overflow-y: auto; /* Si el contenido dentro del router-outlet excede la pantalla, tendrá scroll */
  }
  
#fondo{
  //background-image: url('https://firebasestorage.googleapis.com/v0/b/saladejuegosferrero-12fef.appspot.com/o/wallhaven-4xpw3n.png?alt=media');
  //background-image: url('https://firebasestorage.googleapis.com/v0/b/saladejuegosferrero-12fef.appspot.com/o/wallhaven-g8pq6l.png?alt=media&token=f94e3cc3-7375-4c73-9d5d-1e00dfaec22e');
  background-image: url('https://mcmmvirpyjvmxubpaufw.supabase.co/storage/v1/object/sign/assets/20250522_1926_Eerie%20Dark%20Backdrop_simple_compose_01jvx1m3rgef9vmh4bc85y01g0.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InN0b3JhZ2UtdXJsLXNpZ25pbmcta2V5X2NkOWU4NmEyLTU1MmItNDE1ZC05ZDI3LWIwMzE4NWFiNzBhMCJ9.eyJ1cmwiOiJhc3NldHMvMjAyNTA1MjJfMTkyNl9FZXJpZSBEYXJrIEJhY2tkcm9wX3NpbXBsZV9jb21wb3NlXzAxanZ4MW0zcmdlZjl2bWg0YmM4NXkwMWcwLnBuZyIsImlhdCI6MTc0Nzk1MjgyMCwiZXhwIjoxNzc5NDg4ODIwfQ.uDsVSXusgB82huPyefo2loW9DqdxwbE6AA9SveSUEr4');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 94vh;
}

app-chat{
  z-index: 1000;
}
