<div class="container-flex" id="pagina">
  <div class="container" id="formulario">
    <mat-card appearance="outlined" id="inicioSesion">
      <form>
        <h2>Iniciar Sesion</h2>
        <mat-form-field appearance="outline">
          <mat-label>Correo Electronico</mat-label>
          <input
            matInput
            placeholder="Ingrese su correo"
          />
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" id="ultimo">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="'text'"/>
          <button
            type="button"
            mat-icon-button
            matSuffix
            [attr.aria-label]="'Hide password'"
          ></button>
        </mat-form-field>
        <button class="button" type="submit" mat-stroked-button>
          Iniciar Sesion
        </button>
      </form>
    </mat-card>
  </div>

  <div class="container" id="usuariosPreestablecidos">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="row">Si aun no tenes cuenta...</div>
        <div class="row">
          <a class="button" mat-flat-button type="button" href="/registro"
            >Registrarse</a
          >
        </div>
        <div class="row justify-content-evenly" id="accesoRapido"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
